body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1f64ee;
  color: #fff;
}

.App {
  text-align: center;
}

.timeout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  padding: 20px;
  width: 100px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
  background-color: #fff;
  color: #353535;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.info {
  color: white;
  font-size: 16;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1pt;
}

.value {
  font-size: 48pt;
  font-weight: bold;
}

.label {
  font-size: 18pt;
  font-weight: bold;
}

.logoWhite {
  height: 20px;
}

.love {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hilite {
  color: red;
}

.forty {
  font-size: 5em;
}

.mazan {
  width: 400px;
  border-radius: 10px;
  border: 2px solid white;
}
